.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #333;
    justify-content: center;
}

.login-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.login-header img {
    width: 200px;
}

.login-header h1 {
    color: rgb(184, 184, 184);
    font-size: 1.7em;
}

.login-input {
    border: 2px solid rgb(184, 184, 184);
    border-radius: 8px;
    color: #793040;
    font-size: 1em;
    margin-bottom: 15px;
    max-width: 300px;
    outline: none;
    padding: 12px;
    width: 100%;
}

.login-button {
    background-color: #d38497;
    padding: 12px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    max-width: 300px;
}

.login-button:disabled {
    background-color: rgba(235, 235, 235, 0.13);
    color: rgb(136, 136, 136);
    cursor: auto;
}